*{
    background-color:floralwhite;
    box-sizing: border-box;
}
.container{
    border: 4px solid black;
    width: 350px;
    height: 480px;
    background-color: white;
}

.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 18px;
    width: 66px;
}
.AC-btn{
    /* display: flex;
    flex-grow: 1; */
}
.row{
    margin-top: 20px;
    /* width: 82vw;
    display: flex;
    align-items: center;
    justify-content: space-around; */
}

.row input{
    margin: 0;
    padding: 4px;
    height: 45px;
    width: 290px;
    border: 2px solid black;
    border-radius: 9px;
    font-size: 20px;
    background-color: whitesmoke;
}

.color-1{
    background-color: cornsilk;
}


.color-1:hover{
    background-color: rgb(235, 220, 157)
}

.color-2{
    /* background-color: rgb(202, 75, 75); */
    background-color: crimson;
}

.color-2:hover{
    background-color: rgb(208, 91, 91);
}


/* Utility Classes */
.text-center{
    text-align: center;
}

/* .bg-red{
    background-color: red;
} */

.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    justify-content: center;
    align-items: center;
}

.mg-bottom{
    margin-bottom: 20px;
}